.bgHero {
    background-image: url('/paul-green-bg-hero.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}